<div dependencies>
    <label data-ng-if="property.label" id="{{input}}Label" for="{{input}}">{{property.label}}<i data-ng-hide="required" class="optional"> (optional)</i></label>

    <p class="form-hint" data-ng-if="property.hints" data-ng-repeat="hint in property.hints">{{hint}}</p>

    <select
        xt-validate
        class="form-control"
        id="{{input}}"
        name="{{input}}"
        properties>
            <option data-ng-repeat="option in property.enum" value="{{option}}">{{option}}</option>
    </select>
</div>