<div class="bs-docs-header">
    <div class="container">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>

        <div class="col-sm-8">
            <p>
                Examples of defining data in JSON schema which is presented in web page(s).<br/>
                Web forms can then be auto constructed from data definitions.<br/>
                The presentation of data is handled by HTML templates with the help of Angularjs.<br/>
                A JSON schema simply declares data along with its rules/validations and dependencies allowing for complex presentations.
                The examples, and indeed this application, works across the main browsers Chrome, Safari, Firefox and IE.<br/>
                The application also works across devices - currently tested on iPad and iPhone.
            </p>

            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div>

    <div class="row">
        <p>&nbsp;</p>
    </div>

    <div class="row">
        <div class="col-sm-1">&nbsp;</div>

        <div class="col-sm-2">
            <a data-ng-href="#/single-page/http://www.kissthinker.com/json-schema-ui/example-1">
                <img data-ng-src="/assets/img/single-page.png" width="148" height="148" alt="Single Page"/><br/>
            </a>
        </div>

        <div class="col-sm-2">
            <a data-ng-href="#/single-page/sidebar">
                <img data-ng-src="/assets/img/examples/example2-form.png" width="148" height="148" alt="Single Page - sidebar"/><br/>
            </a>
        </div>

        <div class="col-sm-2">
            <a data-ng-href="#/multi-page">
                <img data-ng-src="/assets/img/examples/example3-form.png" width="148" height="148" alt="Multi Page - no sidebar"/><br/>
            </a>
        </div>

        <div class="col-sm-2">
            <a data-ng-href="#/multi-page/tooltip">
                <img data-ng-src="/assets/img/examples/example4-form.png" width="148" height="148" alt="Other form behaviour examples"/><br/>
            </a>
        </div>

        <div class="col-sm-2">
            <a data-ng-href="#/ideas/sprint3/temp-event">
                <img data-ng-src="/assets/img/examples/example5-form.png" width="148" height="148" alt="Ideas form"/><br/>
            </a>
        </div>

        <div class="col-sm-1">&nbsp;</div>
    </div>
</div>